# This file contains common pin mappings for the Two Trees Sapphire
# Plus V1.1 (SP-5) printer (Robin Nano 1.2, all 2225 drivers at 32 microsteps).

# INSTRUCTIONS FOR COMPILING
# To use this config, the firmware should be compiled for the STM32F103.
# When running "make menuconfig", enable "extra low-level configuration setup",
# select the 28KiB bootloader, serial (on USART3 PB11/PB10) to use USB communication
# or serial (on USART1 PA10/PA9) to use direct UART connection with Raspberry through wifi pins.
# Set "GPIO pins to set at micro-controller startup" to "!PC6,!PD13" to turn off display at startup.

# INSTRUCTIONS FOR FLASHING, THE SCRIPT IS COMPULSORY OR IT WON'T WORK!!!
# Note that the "make flash" command does not work with the Robin Nano!
# After running "make", run the following command in one row FROM THE KLIPPER FOLDER:
#   ./scripts/update_mks_robin.py out/klipper.bin out/Robin_nano35.bin
# Copy the file out/Robin_nano35.bin (if you can't find the file the script was not executed)
# to an SD card and then restart the printer with that SD card.
# If you removed the LCD screen rename the file to "Robin_nano43.bin" for correct flashing.

[include macros.cfg]
[include mainsail.cfg]
[include KAMP/*.cfg]                
[include KAMP_Settings.cfg]       
[exclude_object]

[output_pin probe_enable]
pin: PA8
pwm: False
value: 0

[gcode_macro Probe_Deploy]
gcode:
  SET_PIN PIN=probe_enable VALUE=1

[gcode_macro Probe_Stow]
gcode:
  SET_PIN PIN=probe_enable VALUE=0

[probe]
pin: ^!PA11
deactivate_on_each_sample: False
x_offset: 0.0
y_offset: -39.8
speed: 5.0
samples: 5
samples_result: average
samples_tolerance: 0.010
samples_tolerance_retries: 5
activate_gcode:
  SET_PIN PIN=probe_enable VALUE=1
  G4 P500
deactivate_gcode:
  SET_PIN PIN=probe_enable VALUE=0

[stepper_x]
step_pin: PE3
dir_pin: !PE2
enable_pin: !PE4
microsteps: 16
rotation_distance: 40
endstop_pin: !PA15
position_endstop: 0
position_max: 300
homing_speed: 50

[stepper_y]
step_pin: PE0
dir_pin: !PB9
enable_pin: !PE1
microsteps: 16
rotation_distance: 40
endstop_pin: !PA12
position_endstop: 300
position_max: 300
homing_speed: 50

[stepper_z]
step_pin: PB5
dir_pin: !PB4
enable_pin: !PB8
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -10
position_max: 340

[stepper_z1]
step_pin: PA6
dir_pin: !PA1
enable_pin: !PA3
microsteps: 16
rotation_distance: 8

[extruder]
step_pin: PD6
dir_pin: !PD3
enable_pin: !PB3
microsteps: 16
gear_ratio: 50:10
rotation_distance: 23.1
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
min_temp: 0
max_temp: 250
control: pid
pid_Kp: 17.48
pid_Ki: 1.32
pid_Kd: 57.81

[heater_bed]
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
min_temp: 0
max_temp: 130
control: pid
pid_Kp: 325.10
pid_Ki: 63.35
pid_Kd: 417.10

[heater_fan extruder]
pin: PB0

[fan]
pin: PB1

[mcu]
serial: /dev/ttyUSB0
restart_method: command

[printer]
kinematics: corexy
max_velocity: 250
max_accel: 8000
max_z_velocity: 15
max_z_accel: 100

[safe_z_home]
home_xy_position: 150, 190.2
speed: 50
z_hop: 10
z_hop_speed: 5

[bed_screws]
screw1: 35,35
screw2: 275,35
screw3: 275,275
screw4: 35,275

[bed_mesh]
probe_count: 10,10
mesh_min: 5,44.8
mesh_max: 295,255.2
mesh_pps: 5,5
fade_start: 1.0
fade_end: 10.0
fade_target: 0.0
algorithm: bicubic

[static_digital_output reset_display]
pins: !PC6, !PD13

[temperature_sensor btt_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[z_tilt]
z_positions:
  200, 150
  100, 150
points:
  200, 190
  100, 190
speed: 150
horizontal_move_z: 5
retries: 10
retry_tolerance: 0.01

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.005417, 0.045417, 0.035417, -0.009583, -0.049583, -0.012083
#*# 	0.120417, 0.097917, 0.062917, 0.037917, 0.012917, -0.159583
#*# 	0.085417, 0.052917, -0.007083, 0.022917, 0.030417, 0.010417
#*# 	-0.004583, 0.027917, 0.017917, -0.004583, 0.010417, 0.150417
#*# 	-0.017083, 0.035417, 0.042917, 0.027917, 0.007917, 0.082917
#*# 	0.010417, 0.132917, 0.080417, 0.025417, 0.017917, 0.020417
#*# 	-0.004583, 0.155417, 0.075417, -0.004583, -0.004583, 0.005417
#*# x_count = 6
#*# y_count = 7
#*# mesh_x_pps = 5
#*# mesh_y_pps = 5
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 77.714
#*# max_x = 222.264
#*# min_y = 91.382
#*# max_y = 208.62199999999996
#*#
#*# [probe]
#*# z_offset = -0.715
